span.hint-button {
    background: -moz-linear-gradient(center top , #EDEDED 5%, #DFDFDF 100%) repeat scroll 0 0 #EDEDED;
    border: 1px solid #DCDCDC;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #444444;
    display: inline-block;
    font-family: arial;
    font-size: 22px;
    font-weight: bold;
    padding: 0 41px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
}

span.hint-button:hover {
    background: -moz-linear-gradient(center top , #DFDFDF 5%, #EDEDED 100%) repeat scroll 0 0 #DFDFDF;
}